@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}


<h2 class="text-center text-muted">@ViewData["Title"]</h2>
<hr />

<div class="row justify-content-center">
    <div class="card bg-dark text-white col-lg-10 pl-5 pr-5 pb-3 pt-3">
        <div class="card-header">
            <h4 class="text-center">
                Please fill in the information below.
            </h4>
        </div>
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <div class="row justify-content-center">
                <div class="form-group m-2 col-lg-5">
                    <label asp-for="Id"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                    <span class="text-danger"> @Html.ValidationMessage("Duplicatekey")</span>                  
                </div>
                <div class="form-group m-2 col-lg-5">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="form-group m-2 col-lg-5">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group m-2 col-lg-5">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <span class="text-danger"> @Html.ValidationMessage("DuplicateEmail")</span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="form-group m-2 col-lg-5">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger col-sm-1"></span>
                </div>
                <div class="form-group m-2 col-lg-5">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group align-content-center">
                <input type="submit" value="Sign up" class="btn btn-info btn-block" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
