@model Rentos.Models.Rent

@{
    ViewData["Title"] = "Edit";
}

<h2 class="text-center text-muted">Edit rent information</h2>

<hr />
<div class="row justify-content-center">
    <div class="card bg-dark text-white col-lg-7 pl-5 pr-5 pb-3 pt-3">
        <div class="card-header">
            <h4 class="text-center">
                Please fill in the information below.
            </h4>
        </div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <span class="text-danger">@Html.ValidationMessage("Unavailable")</span>
            <input type="hidden" asp-for="RentId" />
            <input type="hidden" asp-for="Car_CarId" />
            <input type="hidden" asp-for="User_UserId" />
            <div class="form-group">
                <label asp-for="PickupDate" class="control-label"></label>
                <input asp-for="PickupDate" class="form-control" />
                <span asp-validation-for="PickupDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DropoffDate" class="control-label"></label>
                <input asp-for="DropoffDate" class="form-control" />
                <span asp-validation-for="DropoffDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-info">Back</a>
                <input type="submit" value="Save" class="btn btn-info pull-right" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
