@model Rentos.Models.Car

@{
    ViewData["Title"] = "Edit car information";
}

<h2 class="text-center text-muted">Edit car information</h2>
<hr />
<div class="row justify-content-center">
    <div class="card bg-dark text-white col-lg-7 pl-5 pr-5 pb-3 pt-3">
        <div class="card-header">
            <h4 class="text-center">
                Please fill in the information below.
            </h4>
        </div>
        <div class="card bg-dark text-info text-center">
            <img id="carPic" src="#" alt="Upload a picture to see the preview here." class="img-thumbnail img-fluid bg-dark" />
        </div>
        <form asp-action="Edit" asp-controller="Cars" enctype="multipart/form-data">
            <input type="hidden" asp-for="CarId" />
            <input type="hidden" asp-for="Picture" />
            <div class="row justify-content-center">
                <div class="form-group m-2">
                    <label asp-for="Manufacturer" class="control-label"></label>
                    <input asp-for="Manufacturer" class="form-control" />
                    <span asp-validation-for="Manufacturer" class="text-danger"></span>
                </div>
                <div class="form-group m-2">
                    <label asp-for="Model" class="control-label"></label>
                    <input asp-for="Model" class="form-control" />
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="form-group m-2">
                    <label asp-for="RegistrationNumber" class="control-label"></label>
                    <input asp-for="RegistrationNumber" class="form-control" />
                    <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
                </div>
                <div class="form-group m-2">
                    <label asp-for="Color" class="control-label"></label>
                    <input asp-for="Color" class="form-control" />
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="form-group m-2">
                    <label asp-for="Mileage" class="control-label"></label>
                    <input asp-for="Mileage" class="form-control" />
                    <span asp-validation-for="Mileage" class="text-danger"></span>
                </div>

                <div class="form-group m-2">
                    <label asp-for="Power" class="control-label"></label>
                    <input asp-for="Power" class="form-control" />
                    <span asp-validation-for="Power" class="text-danger"></span>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="form-group m-2">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="form-group m-2">
                    <label asp-for="Picture" class="control-label"></label>
                    <label class="btn btn-info btn-file">
                        Browse <input asp-for="Picture" type="file" style="display: none;">
                    </label>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="form-group m-2">
                    <div class="checkbox">
                        <label>
                            <input asp-for="IsAvailable" /> @Html.DisplayNameFor(model => model.IsAvailable)
                        </label>
                    </div>
                </div>

            </div>
            <div class="form-group justify-content-center">
                <a asp-action="Index" class="btn btn-info">Back</a>
                <input type="submit" value="Save" class="btn btn-info pull-right" />
            </div>
        </form>
    </div>
</div>

<div>
    
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#carPic').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#Picture").change(function () {
        readURL(this);
    });
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
